@page
@model FlowProtocol.Pages.FlowTemplates.ListModel
@{
    ViewData["Title"] = "Vorlagen";
}
<h2>Vorlagen</h2>
@foreach (var group in Model.TemplateGroups)
{
  <hr>
  <h5>@group.GroupName</h5>
  <table style="width: 100%; border-collapse: collapse;" border="0" cellspacing="10" cellpadding="5">
  <tbody>
    @foreach (var row in group.Rows)
    {
      <tr>
      <td style="width: 33.3333%;">
        @if(row.Entry1 != null)
        {
          <a asp-page="./Apply" asp-route-template="@row.Entry1.TemplatePath">@row.Entry1.TemplateName</a>
        }
      </td>
      <td style="width: 33.3333%;">
        @if(row.Entry2 != null)
        {
          <a asp-page="./Apply" asp-route-template="@row.Entry2.TemplatePath">@row.Entry2.TemplateName</a>
        }
      </td>
      <td style="width: 33.3333%;">
        @if(row.Entry3 != null)
        {
          <a asp-page="./Apply" asp-route-template="@row.Entry3.TemplatePath">@row.Entry3.TemplateName</a>
        }
      </td>
      </tr>      
    }
  </tbody>
  </table>
}
<hr>